/* Change sidebar background color */
.main-sidebar {
    background-color: #c42d2d !important;
}

.nav-sidebar {
    font-size: 12px;
}

/* Indent submenu items */
.nav-sidebar .nav-treeview>.nav-item>.nav-link {
    padding-left: 2rem;
}

.table-header {
    background-color: #d60000 !important;
    color: #ffffff !important;
}

.table {
    font-size: 13px;
}

.valoracion-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

.badge-success {
    background-color: #28a745 !important;
}

.badge-warning {
    background-color: #ffc107 !important;
}

.badge-orange {
    background-color: #ff9800 !important;
}

.badge-danger {
    background-color: #dc3545 !important;
}

.badge-secondary {
    background-color: #6c757d !important;
}

[class*=sidebar-dark] .user-panel {
    border-bottom: 1px solid #92a4b6 !important;
}

.nav-sidebar .nav-link {
    font-size: 13px;
}

.user-panel {
    font-size: 14px;
}

.user-panel .info {
    display: inline-block !important;
    padding: 5px 5px 5px 15px;
}

.table-header {
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    background: #d60000;
    border-left: #848383 1px solid;
    border-bottom: 1px solid #fff;
    color: #FFFFFF;
}

.table tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.card-title {
    font: bold 15px 'Segoe UI', Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #666;
}

.page-item.active .page-link {
    z-index: 3;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 54, 57);
    border-color: rgb(51, 54, 57);
}


.dataTables_length,
.pagination,
.dataTables_filter {
    font-size: 13px;
}


.loading-spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.loading-spinner.show {
    display: block;
}

.card-footer small {
    font-size: 0.875rem;
    color: #888;
}

.required-field::after {
    content: ' (*)';
    color: red;

}

/* Estilo para los bloques */
.small-box {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    height: 100%;

}

/* Estilo para el contenido interno del bloque */
.small-box .inner {
    display: block;
    text-align: center;
    font-size: 13px;
    margin: 3px;
}

/* Estilo para el footer del bloque */
.small-box .small-box-footer {
    display: block;
    bottom: 0;
    /* Coloca el footer al final del bloque */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    position: absolute;

}

.card-body .card-procesos {
    padding: 10px 0 30px 20px;
    height: 100%;
}

.col-md-1 .card .clientes {
    padding: 0 2px 0 5px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 100%;
    width: 100%;
    text-align: center;

    background-color: #676363;
    color: floralwhite;
    font-size: 15px;
}

.col-md-1 .card .productos {
    padding: 0 2px 0 5px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 100%;
    width: 100%;
    text-align: center;

    background-color: #d45f2d;
    color: floralwhite;
    font-size: 15px;
}

.bg-estrategico {
    color: floralwhite;
    background-color: #66b458;


}

.bg-misional {
    color: floralwhite;
    background-color: #3c9bb8;


}

.bg-apoyo {
    color: floralwhite;
    background-color: #e5b825;


}

.bg-proceso {
    background-color: #282c30f4;
    color: white;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 0px solid #ffffff !important;
}

.select2-results__option {
    font-size: 12px;
    padding: 6px 10px;
}

.form-control {
    border-radius: 5px;
    width: 100%;
    font-size: 13px !important;
}


/* Placeholder font size */
.select2-container--bootstrap4 .select2-selection__placeholder,
.select2-container--bootstrap4 .select2-search__field {
    font-size: 14px;
}

/* 2. Hover rojo en las opciones */
.select2-results__option--highlighted[aria-selected] {
    background-color: #dc3545;
    /* Rojo principal */
    color: white;
}

/* 3. Elemento ya seleccionado en la lista (cuando se re-abre el dropdown) */
.select2-results__option[aria-selected="true"] {
    background-color: #c82333;
    color: white;
}

/* Etiquetas de selección múltiple */
.select2-selection--multiple .select2-selection__choice {
    background-color: #c82333;
    border-color: #b21f2d;
    color: white;
    font-size: 13px;
    border-radius: .25rem;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    background-color: #c82333;
    border-color: #b21f2d;
    color: white;
    font-size: 13px;
    border-radius: .25rem;
}

.select2-selection--multiple .select2-selection__choice__remove {
    color: rgba(255, 255, 255, 0.8);
}

.select2-selection--multiple .select2-selection__choice__remove:hover {
    color: white;
}

/* Estilo de Focus rojo para Select2 */
.select2-container--bootstrap4.select2-container--focus .select2-selection {
    border-color: #2861a7;
    /* Color verde */
    box-shadow: 0 0 5px rgba(40, 120, 167, 0.5);
    /* Efecto de sombra suave */
}

.select2-container--bootstrap4 .select2-selection__placeholder,
.select2-container--bootstrap4 .select2-search__field {
    font-size: 13px !important;
    color: gray !important
}